header{
    display: flex;
    justify-content: center;
    background-color:#ddd ;
    height: 70px;
    font-size: x-large;
    align-items: center;
    
  }
  a{
    text-decoration: none;
    color: black;
  }
  .container-fluid{
    
    margin-top: 10px;
   
    
  }
  
  /* .sidebar */
  .sidebar{
  color: aliceblue;
    background-color: black;
    padding: 10px;
    width: 0;
  position: fixed;
  z-index: 1;
  top:70px;
  left: 0;
    height: 100%;
    display: none;
    overflow-x: hidden;
  transition: 0.5s;
  }
  .sidebar img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
  }
  .sidebar a{
    display: block;
  transition: 0.3s;
  }
  
  .home{
    width: 100%;
    height: 50px;
  
    margin-top: 10px;
  
    text-align: left;
    border-radius:10px;
    
  }
  
  .list{
    width: 100%;
    height: 50px;
    text-decoration: none;
    margin: 10px;
     margin: 0;
     padding: 15px;
  }
  .list:hover{
  border-radius:10px;
  background-color: rgb(88, 85, 82);
  opacity: 0.9;
  
  
  }
  
  #main {
    transition: margin-left .5s;
    
    }
  
    /* navbar */
  .sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
  color:white;
  }
  
  
  
  .main-content{
    width: 100%;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  .topnav a {
    float: left;
    color: black   ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
   
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav form.split {
    float: right;
    color: white;
  }
  .topnav a.icon{
  
    left: 0;
  }
  .top{
    padding: 5px;
    background-color: #ddd;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
  }
  .top p{
    font-size: 20px;
    font-weight: bold;
    font-family: "Time";
  }
  .top a
  { 
    width: 100px;
    color: rgb(12, 165, 101);
    border-radius: 15px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top a:hover{
    background-color: antiquewhite;
  }
  .info{
    
    display: flex;
    flex-direction: row;
    height: 250px;
    
  }
  .item{
    margin:5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .item p{
    font-size: 20px;
    margin: 15px;
  }
  .item .number{
    font-size: 35px;
    font-weight: bolder;
  }
  .m-info{
    border-radius:0 0 10px 10px;
    height: 30px;
   
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .m-info:hover{
    background-color: aliceblue;
  }
  .item>button{
    border: none;
    
  }
  .item:hover{
    background-color: antiquewhite;
  }
  .neworder{
    background-color:rgb(12, 193, 172) ;
   
  }
  .rate{
  background-color: rgb(62, 151, 121);
  }
  .user{
  background-color: rgb(255, 221, 0);
  }
  .visitor{
  background-color: rgb(123, 20, 20);
  }
  @media only screen and (max-width:500px) {
  /* For mobile phones: */
  .info{
    width: 100%;
    flex-direction: column;
  }
  .topnav{
    clear: both;
    width: 100%;
    flex-direction: column;
  }
  }
  footer{
  
  
  justify-content: center;
  align-items: center;
  background-color:#ddd;
  height: 30px;
  
  }
  footer P{
  
  display: flex;
  justify-content: center;
  align-items: center;
  }